body {
    font-family: "Gill Sans", sans-serif;
}

h1 {
    font-size: 40px;
    color: blue;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: blue;
    text-align: center;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
}